body {
  background-image: url("/static/images/arriere-plan-accueil.png");
  background-size: cover;
	overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

.brand {
  font-weight: bold;
  font-size: 27px; 
  font-family: 'Ubuntu', sans-serif;
}
  

.site-header__top {
  background: linear-gradient(to left, #235445, #e9fef2);
  font-family: 'Ubuntu', sans-serif; }
  .site-header__top ul {
    display: flex; }
  .site-header__top li:not(:last-child) {
    margin-right: 1.5rem; }
  .site-header__top .site-header__start {
    display: none; }

.site-header__bottom {
  position: relative;
  background: linear-gradient(to left, #235445, #e9fef2);
  font-family: 'Ubuntu', sans-serif;}
  @media (max-width: 939px) {
    .site-header__bottom .site-header__end {
      order: -1; } }
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh; }

.site-header__end {
  display: flex;
  align-items: center; }

.site-header__end.top > * + * {
  margin-left: 1.5rem; }

@media (min-width: 940px) {
  .site-header__end.bottom > *:not(:last-child) {
    margin-right: 1.5rem; } }

@media (max-width: 939px) {
  .site-header__end.bottom .cart {
    margin-right: 1.5rem; } }

@media (max-width: 939px) {
  .site-header__end.bottom .search {
    margin-left: 0; } }

.site-header__end.bottom svg {
  width: 22px;
  height: 22px; }

@media (min-width: 940px) {
  .nav__wrapper {
    display: flex; } }

@media (max-width: 939px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0); } }

.nav__item:not(:last-child) {
  margin-right: 1.5rem; }

.nav__item a {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media (max-width: 939px) {
    .nav__item a {
      padding: 1rem; } }
.nav__item svg {
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 28px;
  margin-right: 1rem; }
  @media (min-width: 940px) {
    .nav__item svg {
      display: block;
      margin: 0 auto 0.5rem; } }
.nav__item.active a {
  border-left-color: #222; }
  @media (min-width: 800px) {
    .nav__item.active a {
      border-bottom-color: #222; } }
.nav__toggle {
  position: absolute;
  right: 1rem;
  top: 1rem; }
  @media (min-width: 940px) {
    .nav__toggle {
      display: none; } }
.search {
  display: flex; }

.search__toggle {
  appearance: none;
  order: 1;
  font-size: 0;
  width: 34px;
  height: 34px;
  background: url("../img/header-3/search.svg") center/22px no-repeat;
  border: 0; }
  @media (max-width: 939px) {
    .search__toggle {
      position: absolute;
      right: 5.5rem;
      top: 0.65rem; } }
  .search__toggle.active {
    background: url("../img/header-5/close.svg") center/22px no-repeat; }

.search__form {
  display: none; }
  .search__form.active {
    display: block; }
  @media (max-width: 799px) {
    .search__form {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      background-color: red; }
      .search__form input {
        width: 100%; } }
  .search__form input {
    min-width: 200px;
    appearance: none;
    border: 0;
    background-color: #fff;
    border-radius: 0;
    font-size: 16px;
    padding: 0.5rem; }
    @media (max-width: 799px) {
      .search__form input {
        border-bottom: 1px solid #979797; } }
  
        @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
        .wrapper {
          max-width: 1140px;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-left: auto;
          margin-right: auto;
        }
        
        *,
        *:before,
        *:after {
          box-sizing: border-box;
        }
        
        a {
          text-decoration: none;
          color: #222;
        }
        
        html {
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
        .sr-only {
          position: absolute;
          clip: rect(1px, 1px, 1px, 1px);
          padding: 0;
          border: 0;
          height: 1px;
          width: 1px;
          overflow: hidden;
        }
        
        .button {
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          color: #fff;
          background-color: black;
          min-width: 120px;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          text-align: center;
        }
        
        .button svg {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          fill: #fff;
        }
        
        .button span {
          display: none;
        }
        
        @media (min-width: 600px) {
          .button span {
            display: initial;
          }
        }
        
        .button--icon {
          min-width: initial;
          padding: 0.5rem;
        }

        .logo {
          width: 8vh;
          height: 8vh;
        }
.btnsub {
  display: flex;
  position: absolute;
  top: 11.25vh;
  right: 44.5vh;
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: black;
  border: 0;
  padding-left: 32.5px;
  padding-right: 32.5px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 15px;
}

.form-group {
  display: flex;
  position: absolute;
  top: 12%;
  right: 65vh;
}

.control-label {
  margin-right: 3vh;
  font-family: 'Ubuntu', sans-serif;
}

.titre{
    text-align: center;
    font-size: 8vh;
    margin: 3vh;
}
th{
    color: white;
    background-color: #454745;
}

tr{
	background: #f0f0f0;
    color: black;
}

tr:nth-child(odd) {
	background: #ffffff;
  color: black;
}
.table{
    position: relative;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}

.desc{
  top: 30vh;
  position: absolute;
}
.commentaire{
  position: relative;
  top: 10vh;
}
.texte{
 font-family: 'Ubuntu', sans-serif;
  transform: translate(-50%);
  margin-left: 50%;
  font-weight:bold;
  color: white;
  font-size: 25px;
  line-height:30px;
  text-align: center;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
}

a.url {
  color: white;
}

.actif{
    color: green;
}
.inactif{
    color: red;
}
#cacher{
    display: none;
}

.espace {
  padding: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.centrer-espacer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35vh;
}

.margin {
  margin: 10vh;
}

.bouton {
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: black;
  border: 0;
  padding-left: 32.5px;
  padding-right: 32.5px;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 15px;
}

.padding {
    padding: 1.5vh
}

.conteneur {
  background-color: #FFFFFF;
  width: 48.5vh;
  height: 52.5vh;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}