body {
    background-image: url("/static/images/arriere-plan-login.png");
    background-size: cover;
	overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.conteneur {
    background-color: #FFFFFF;
    width: 42.5vh;
    height: 52.5vh;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.titre {
    padding-top: 40px;
    color: #0e1e30;
    font-weight: bold;
    font-size: 30px;
}

.pseudo {
    background: rgba(136, 136, 136, 0.25);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

label {
    display: flex;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    font-size: 25px;
}
.label{
    transform: translate(0);
    left: 39%;
    font-size: initial;
}
.form{
    padding-top: 40px;
}
.form-2{
    padding-top: 20px;
}
.div{
    padding-left: 120px;
}

.mdp {
    background: rgba(136, 136, 136, 0.25);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 5vh;
    margin-bottom: 4vh;
}


.pseudo:focus, .mdp:focus {
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #FFFFFF;
    background: linear-gradient(to right, #0e1e30, #719899);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 5, 0, 0.5);
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 2vh;
}

.submit:hover {
    font-size: 22px;
}