<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
        <title>Accueil</title>
    </head>
    <body>
        <header class="header">
            <img class="logo" src="{{ url_for('static', filename='logo.png') }}">
            {% block titre %}<p class="titre">La jolie boite à code</p>{% endblock %}
        </header>
        {% block section %}
        <section>
            <table class="prospect">
                <tr>
                    <th>NOM</th>
                    <th>NOMBRE FACTURE</th>
                    <th></th>
                </tr>
                {% for prospect in prospects %}
                <tr>
                    <td>{{prospect.0}}</td>
                    <td>{{prospect.1}}</td>
                    <td><input type="button" value="Voir les contacts" onclick="window.location.href='/{{prospect.0}}/actif/filtre-off';"></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        {% endblock %}
    </body>
</html>