<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}">
        <meta property="og:description" content="Venez profiter de nos services dans l'informatique !">
        <meta property="og:title" content="La Jolie Boîte à Code">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap">
        <link rel="icon" type="png" href="{{ url_for('static', filename='logo.png') }}">
        <title>Ajouter prospect</title>
    </head>
    <body>
        <div class="conteneur">
            <p class="titre" align="center">Ajouter prospect :</p>
            <form class="form-2" method="post">
                {{ form.csrf_token }}
                <div class="div"><label class="label">Nom</label>{{ form.nom(size=20) }}</div>
                <div class="div"><label class="label">SIRET</label>{{ form.siret(size=20) }}</div>
                <div class="div"><label class="label">Adresse postale</label>{{ form.adresse(size=20) }}</div>
                <div class="div"><label class="label">Code postal</label>{{ form.codepostal(size=20) }}</div>
                <div class="div"><label class="label">Ville</label>{{ form.ville(size=20) }}</div>
                <div class="div"><label class="label">Description</label>{{ form.description(size=20) }}</div>
                <div class="div"><label class="label">URL</label>{{ form.url(size=20) }}</div>
                <input class="submit" type="submit" value="Créer">
           </form>
            <input class="submit" type="button" value="Annuler" onclick="javascript:history.back(-1);">
        </div>
    </body>
</html>