{% extends 'accueil.html' %}
{% block titre %}<p class="titre">{{nom_prospect}}</p>{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style>
    body{
        overflow: auto;
    }
</style>
<div class="container-filtre">
            <form class="form form-horizontal" method="post" role="form">
                {{wtf.form_field(formFacture.montant_facture,class="champs-montant",placeholder="Montant")}}
                {{wtf.form_field(formFacture.valider, class="btnsub")}}
            </form>

        </div>
<div>
    {% for urlPDF in liste_url %}
            <iframe src="{{urlPDF}}#toolbar=0" style="display:block;margin-left:30vw;height:60vh; width:40vw;" frameborder="0" allowfullscreen></iframe>
    {% endfor %}

</div>
{% endblock %}