<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}">
        <meta property="og:description" content="Venez profiter de nos services dans l'informatique !">
        <meta property="og:title" content="La Jolie Boîte à Code">
        <link rel="stylesheet" href="{{ url_for('static', filename='accueil.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='reset-min-accueil.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap">
        <link rel="icon" type="png" href="/static/images/logo.png">
        <title>La Jolie Boîte à Code</title>
    </head>

    <body>

      <header class="site-header">
        <div class="site-header__top">
          <div class="wrapper site-header__wrapper">
            <div class="site-header__middle">
              <a href="#" class="brand"><img class="logo" src="/static/images/logo.png"></a>
            </div>
            <div class="site-header__end top">
              <a href="/deconnexion" class="button">Se déconnecter</a>
            </div>
          </div>
        </div>
        <div class="site-header__bottom">
          <div class="wrapper site-header__wrapper">
            <div class="site-header__start">
              <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                  menu
                </button>
                <ul class="nav__wrapper">
                  <li class="nav__item"><a href="/accueil">Accueil</a></li>
                  <li class="nav__item"><a href="/ajouter-prospect">Ajouter prospect</a></li>
                  <li class="nav__item"><a href="/factures">Factures</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>

        {% block content %}

        {% endblock %}
    </body>

    <script src="/static/javascript/header-14.js"></script>

</html>
<!-- -->