{% extends 'accueil.html' %}

{% block titre %}{% for prospect_contact in nom_prospect_contact %}<p class="titre">{{prospect_contact.0}} - {{prospect_contact.1}}</p>{% endfor %}{% endblock %}

{% block content %}
<section>
    {% for dernier_com in commentaire %}
    <p class="commentaire texte">Le {{dernier_com.1}}</br>"{{dernier_com.0}}"</br>écrit par {{dernier_com.2}}</p>
    {% endfor %}
    {% for comm in liste_commentaires %}
    <p class="commentaire texte" id="cacher">Le {{comm.1}}</br>"{{comm.0}}"</br>écrit par {{comm.2}}</p>
    {% endfor %}
    <div class="centrer-espacer">
        <button class="margin bouton" onclick="myFunction()">Afficher/Cacher les autres commentaires</button>
        <input class="margin bouton" type="button" value="Retour" onclick="window.location.href='/menu-entreprises/{{nom_prospect}}/actif/filtre-off';">
    </div>
</section>
<script>
function myFunction() {
  var x = document.getElementById("cacher");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>
{% endblock %}