<!DOCTYPE html>

<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
        <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}">
        <meta property="og:description" content="Venez profiter de nos services dans l'informatique !">
        <meta property="og:title" content="La Jolie Boîte à Code">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='connexion.css') }}">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="icon" type="png" href="{{ url_for('static', filename='logo.png') }}">
        <title>{{ title if title }}</title>
    </head>

    <body>

        <div class="main">
            <p class="sign" align="center">Connexion</p>
            <form action="" class="form1" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.pseudo.label }}
                        {{ form.pseudo(class="un") }}
                    {{ form.mdp.label }}
                        {{ form.mdp(class="pass") }}
                </div>
                {{ form.submit(class="submit") }}
            </form>
        </div>

    </body>

</html>